# Server
NODE_ENV=development
APP_KEY=your_app_key
HOST=your_host_here
PORT=3000

# Database
DB_HOST=your_database_host
DB_PORT=your_database_port
DB_DATABASE=your_database_name
DB_USERNAME=your_database_user
DB_PASSWORD=your_database_password

# JWT
JWT_ACCESS_SECRET=your_jwt_secret_key
# e.g., 15m, 1h, 1d
JWT_ACCESS_LIFETIME=your_ms_string_value 
JWT_REFRESH_SECRET=your_refresh_secret_key
# e.g., 15m, 1h, 1d
JWT_REFRESH_LIFETIME=your_ms_string_value 

# Email
EMAIL_USER=your_email_address
EMAIL_PASS=your_email_password

# Rate Limit
# e.g., 15m, 1h, 1d
RATE_LIMIT_WINDOW=your_ms_string_value
RATE_LIMIT_MAX=your_max_number